{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "12"
      },
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs"
  ]
}